.layoutContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.googleTitleContainer {
  padding: 24px;
  background-color: #fcfbf3;
  border-bottom: 1px solid #e5e5dd;
}
.googleTitleHeader {
  width: 510px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.googleTitleImg {
  display: block;
  width: 57px;
  height: 42px;
  margin-right: 8px;
}

.googleTitleHeader h1 {
  font-size: 16px;
  font-weight: 700;
}

.googleTitleHeader p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(105, 106, 106);
}
