.layoutWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 72px;
  background-color: #1c1c1c;
  position: relative;
  width: 100%;
  z-index: 90;
}

.headerInner {
  height: 72px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  padding-right: 80px;
  display: flex;
  align-items: center;
  max-width: 1360px;
  padding-left: 80px;
  padding-right: 80px;
}

.midSection {
  flex: 1 1;
  display: flex;
  min-width: 0;
  align-items: center;
  padding: 0;
  padding-left: 32px;
  padding-right: 16px;
}
